{%extends 'base.html'%}

{% block main_content %}
 <div class="span8">
    <input type="submit" name="New" formaction="/sto/" value="New Org" /><p></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Organization</th>
          <th>Name</th>
          
          <th>Address</th>
          <th>City</th>
          <th>State</th>
        
        </tr>
      </thead>
  </div>
      <tbody>
        <tr>
          
        {% for item  in list %}
            
            <td><a href="{{ item.orgid_id }}">{{item.orgid}}</a></td>
            
            <td>{{item.orgid.is_company}}</td>
            <td>{{item.address1}}</td>
            <td>{{item.city}}</td>
            <td>{{item.stateorprovince}}</td>
            </tr>
           
        {% endfor %}   
      </tbody>
    </table>
  </div>
</div> 
    
  
{% endblock%}  